## Exploratory Data Analysis - Automobile (Part 1: Data Cleanup)

<img width="600" height="400" style="float: left;" src="Images/EDA_Automobile_Banner.jpg">

<h3>1. About the Dataset:</h3>
<p>This dataset consist of data From 1985 Ward's Automotive Yearbook. Here are the sources:</p>

<ul>
    <li>1985 Model Import Car and Truck Specifications, 1985 Ward's Automotive Yearbook.</li>
    <li>Personal Auto Manuals, Insurance Services Office, 160 Water Street, New York, NY 10038.</li>
    <li>Insurance Collision Report, Insurance Institute for Highway Safety, Watergate 600, Washington, DC 20037.</li>
</ul>

<p>This data set consists of three types of entities: </p>
<ol>
    <li>the specification of an auto in terms of various characteristics,</li>
    <li>its assigned insurance risk rating,</li>
    <li>its normalized losses in use as compared to other cars.</li>
</ol>
<p>The second rating corresponds to the degree to which the auto is more risky than its price indicates. Cars are initially assigned a risk factor symbol associated with its price. Then, if it is more risky (or less), this symbol is adjusted by moving it up (or down) the scale. Actuarians call this process "symboling". A value of <b>+3</b> indicates that the auto is risky, <b>-3</b> that it is probably pretty safe.</p>
<p>For more details about the dataset, please visit <a href="https://archive.ics.uci.edu/ml/datasets/automobile">here</a>.</p>

#### Dataset Attribute Information:
Attribute: Attribute Range 

1. symboling: -3, -2, -1, 0, 1, 2, 3. 
2. normalized-losses: continuous from 65 to 256. 
3. make: 
alfa-romero, audi, bmw, chevrolet, dodge, honda, 
isuzu, jaguar, mazda, mercedes-benz, mercury, 
mitsubishi, nissan, peugot, plymouth, porsche, 
renault, saab, subaru, toyota, volkswagen, volvo 

4. fuel-type: diesel, gas. 
5. aspiration: std, turbo. 
6. num-of-doors: four, two. 
7. body-style: hardtop, wagon, sedan, hatchback, convertible. 
8. drive-wheels: 4wd, fwd, rwd. 
9. engine-location: front, rear. 
10. wheel-base: continuous from 86.6 120.9. 
11. length: continuous from 141.1 to 208.1. 
12. width: continuous from 60.3 to 72.3. 
13. height: continuous from 47.8 to 59.8. 
14. curb-weight: continuous from 1488 to 4066. 
15. engine-type: dohc, dohcv, l, ohc, ohcf, ohcv, rotor. 
16. num-of-cylinders: eight, five, four, six, three, twelve, two. 
17. engine-size: continuous from 61 to 326. 
18. fuel-system: 1bbl, 2bbl, 4bbl, idi, mfi, mpfi, spdi, spfi. 
19. bore: continuous from 2.54 to 3.94. 
20. stroke: continuous from 2.07 to 4.17. 
21. compression-ratio: continuous from 7 to 23. 
22. horsepower: continuous from 48 to 288. 
23. peak-rpm: continuous from 4150 to 6600. 
24. city-mpg: continuous from 13 to 49. 
25. highway-mpg: continuous from 16 to 54. 
26. price: continuous from 5118 to 45400.

<h3>2. Problem Statement:</h3>
<p>As part of Exploratory Data Analysis (EDA), The notebook will explore the following things from the Automobile dataset: </p>
<ul>
    <li>Finding patterns in Data</li>
    <li>Determining relationships in Data</li>
    <li>Checking of assumptions</li>
    <li>Draw the conclusion</li>
</ul>

### 3. Data Validation:

Validate the data, cleanse the data when there is needed.

#### 3.1. Importing packages

In [22]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

pd.set_option('display.max_columns', 100)

#### 3.2. Importing the Dataset

In [62]:
# Read the Automobile dataset from CSV file.
df = pd.read_csv('data/Automobile_data.csv')

# df = pd.read_csv('data/Automobile_data.csv', na_values='?')

#### 3.3. Data Pre-Profiling
Review the data types and sample data to understand what variables we are dealing with?<br />
Which variables need to be transformed in some way before they can be analyzed?

In [29]:
# See the dimensions of the dataset
df.shape

(205, 26)

No of Rows: 205, and No of Columns: 26

In [24]:
# See the header data.
#df.head() 

# See the data frame high leve info, like: Row count, Columns and types, Memory usage, etc. 
df.info()

# Describe the dataset.  
#df.describe()

# Get the list of columns.
#df.columns

# See the columns and types.
# df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
symboling            205 non-null int64
normalized-losses    205 non-null object
make                 205 non-null object
fuel-type            205 non-null object
aspiration           205 non-null object
num-of-doors         205 non-null object
body-style           205 non-null object
drive-wheels         205 non-null object
engine-location      205 non-null object
wheel-base           205 non-null float64
length               205 non-null float64
width                205 non-null float64
height               205 non-null float64
curb-weight          205 non-null int64
engine-type          205 non-null object
num-of-cylinders     205 non-null object
engine-size          205 non-null int64
fuel-system          205 non-null object
bore                 205 non-null object
stroke               205 non-null object
compression-ratio    205 non-null float64
horsepower           205 non-null object
peak-rpm             205 non-null object
city-mpg             205 non-null int64
highway-mpg          205 non-null int64
price                205 non-null object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.7+ KB

Print the header rows.

In [31]:
# print the dataframe head.  
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,168.8,64.1,48.8,2548,dohc,four,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,171.2,65.5,52.4,2823,ohcv,six,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [157]:
# Descriptive statistics for the numerical variables
# df.describe(include = 'all')

Let's check any NULL value present in the dataset.

In [59]:
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

From the NULL check above, no null value found. May be in this dataset we might have null value with different text or symbol.

#### Pre profilling for dataframe and null values detection.

In [3]:
# Install pandas profilling - once.
!pip install pandas-profiling

In [7]:
import pandas_profiling                                                     # Get a quick overview for all the variables using pandas_profiling                                         
profile = pandas_profiling.ProfileReport(df)
profile.to_file(output_file="Pre_Automobile_EDA_Output.html")                    # HTML file will be downloaded to your workspace

![title](Images/pre-profilling.jpg)

##### Observations
As we can see there is huge discrepancies in normalize losses column and few others columns as well, where we can observed "?" symbol is used in place of NULL value. Let's detect  all the null values present in the dataset and clean it up.

List all the columns where we have missing data as "?" symbol.

In [63]:
#List of columns that contain a "?" for missing data
cols = list(df.columns)
for col in cols:
    if('?' in df[col].value_counts()):
        print(col + " - " + str(df[col].value_counts()['?']))

normalized-losses - 41
num-of-doors - 2
bore - 4
stroke - 4
horsepower - 2
peak-rpm - 2
price - 4

Here we will have to repace missing data <b>("?")</b> as NAN, so that further it will help us cleanup the data.

In [65]:
df.replace("?", np.NAN, inplace=True)

Here we can see now, NAN value in data frame.

In [66]:
df.isnull().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

### 4. Data Cleaning:
Following columns need to be cleanup, as we will be using them for our analysis. 
* normalized-losses - 41
* num-of-doors - 2
* bore - 4
* stroke - 4
* horsepower - 2
* price - 4

##### 4.1. Cleaning the normalized-losses data

* a. Convert "normalized-losses" column to numeric. In the process, insert NaNs where values cannot be converted to a number
* b. Under each make, if there are enough number of records with valid loss values (>=50%), find their mean value and replace NaNs.  
* c. If more than 50% records under a make have NaNs for loss value, those records have to be discarded for analysis.

In [111]:
# Dataframe analysis for normalized-losses column: 

df_auto = df

#Replace non-numeric characters in normalized-losses column with NaN.
df_auto['normalized-losses'] = pd.to_numeric(df_auto['normalized-losses'], errors='coerce')

# Find makes having normalized-losses as NaNs and their number of occurrances.
carsnan = df_auto[df_auto['normalized-losses'].isnull()].groupby(by='make', as_index=False).size().reset_index()
carsnan.columns = ['make','nanscount']

#Find makes with count of all records under each make
carsgp = df_auto.groupby(by='make', as_index=False).size().reset_index()
carsgp.columns=['make','makecount']
carsgpnan=carsgp.merge(carsnan,on="make", how="left", suffixes=['', '_right'])

#carsgpnan

#Find makes having more than 50% records with valid normalized-losses values
mean_nan_makes = carsgpnan[carsgpnan['nanscount']*100/carsgpnan['makecount'] <= 50].reset_index()
mean_nan_makes['nlimpute']=mean_nan_makes['make']

#Find mean loss figures for those makes
nlcars=df_auto.merge(mean_nan_makes, on="make", how="left", suffixes=['','_right'])
nlmean_by_make = nlcars.groupby(by='nlimpute')['normalized-losses'].mean().reset_index()

#Replace NaN values with the calculated mean
carsr=df_auto.merge(nlmean_by_make, how="left", left_on="make", right_on="nlimpute", suffixes=['', '_right'])

carsr['normalized-losses'] = np.where(carsr['normalized-losses'].isnull(), carsr['normalized-losses_right'], carsr['normalized-losses']) 

cars = carsr.loc[carsr['normalized-losses'].isnull()==False].copy()
print("Column normalized-losses has " + str(cars['normalized-losses'].count()) + " values after cleaning")

Column normalized-losses has 189 values after cleaning

##### 4.2. Cleaning the price data

* Calculate the average price per make and impute the missing price values with the respective make's average price.

In [112]:
cars['price'] = pd.to_numeric(cars['price'],errors='coerce')
mean_price_by_make = cars.groupby(by=['make'])['price'].mean()
mean_price_by_make = mean_price_by_make.reset_index()
 
# Merge mean_price_by_make (Rigt) with cars dataframe (Left)

cars = cars.merge(mean_price_by_make,on='make', suffixes=['', '_right'])
cars['price'] = np.where(cars['price'].isnull(), cars['price_right'], cars['price'])
# cars

##### 4.3. Cleaning the horsepower data

* Convert to numeric value

In [113]:
cars['horsepower'] = pd.to_numeric(cars['horsepower'], errors="coerce")
cars.shape

(189, 29)

##### 4.4. Cleaning the num-of-doors data

* Remove records where number of doors having null.

In [114]:
# cars[cars['num-of-doors'].isnull()]
cars = cars[cars['num-of-doors'].notna()] # Remove 'num-of-doors' values.
cars.shape

(187, 29)

##### 4.5. Cleaning the peak-rpm data
* Convert peak-rpm data in to numeric.

In [174]:
# Convert the non-numeric data to null and convert the datatype.
cars['peak-rpm'] = pd.to_numeric(cars['peak-rpm'], errors='coerce')

##### 4.6. Cleaning the Bore & Stroke data

* Remove records where Bore & Stroke having null.

In [121]:
cars = cars[cars['bore'].notna()]
cars = cars[cars['stroke'].notna()]

Drop all temporary columns.

In [116]:
del cars['normalized-losses_right']
del cars['price_right']
del cars['nlimpute']

#### Convert text columns to integer
Following columns are in text forms and need to be interpreted into intiger form.
* num-of-doors
* num-of-cylinders

In [124]:
cars["num-of-doors"].unique()

array(['four', 'two'], dtype=object)

In [125]:
cars["num-of-cylinders"].unique()

array(['four', 'five', 'six', 'three', 'eight'], dtype=object)

Create a function to return the respective integer value for a number string.

In [139]:
# Get the respective integer value for a number string.
def get_number(inputStr):
    '''
    Get the respective integer value for a number string.
    '''
    switcher = {
        "two": 2,
        "three": 3,
        "four": 4,
        "five": 5,
        "six": 6,
        "seven": 7,
        "eight": 8
    }
    return switcher.get(inputStr)

In [140]:
print(get_number("seven"))

7

In [136]:
cars['num_doors'] = cars['num-of-doors'].apply(lambda x: get_number(x))
cars['num_cylinders'] = cars['num-of-cylinders'].apply(lambda x: get_number(x))

<b>Engine size:</b> The size of an engine is measured in cubic centimetres (cc) and refers to the total volume of air and fuel that’s pushed through the engine by its cylinders. <br />
<b>Power to Weight ratio:</b> Power to weight ratio shows the performance of a car.


#### Derive columns: 
* Convert the Engine size from cubic inches to cubic centimeters (cc) for better understanding. To convert cubic inch to cubic centimeter, divide cubic inch value by 0.061024

* Calculate power to weight ratio of vehicles.

In [141]:
cars['engine_size_cc'] = cars['engine-size'].apply(lambda x: int(x/0.061024))
cars['power_to_weight_ratio'] = pd.to_numeric(cars['horsepower'], errors="coerce")/cars['curb-weight']

* Create two columns - Risky and Safe based on symboling data.

In [176]:
def risky_or_safe(x):
    if (x > 0):
        return 'risky'
    return 'safe'

def is_risky(x):
    if (x > 0):
        return 1
    return 0
    
cars['risky_or_safe'] = cars['symboling'].apply(lambda x: risky_or_safe(x))
cars['is_risky'] = cars['symboling'].apply(lambda x: is_risky(x))

##### Replace Drive-Wheels value with descriptive columns

In [158]:
cars["drive-wheels"].unique()

array(['fwd', '4wd', 'rwd'], dtype=object)

In [161]:
# Get the descriptive text for Drive-Wheels.
def get_descriptive_text(inputStr):
    '''
    Get the descriptive text for Drive-Wheels.
    '''
    switcher = {
        "4wd": "Four Wheel Drive",
        "fwd": "Front Wheel Drive",
        "rwd": "Rear Wheel Drive"
    }
    return switcher.get(inputStr)

# get_descriptive_text("4wd")
cars['drive-wheels'] = cars['drive-wheels'].apply(lambda x: get_descriptive_text(x))

In [177]:
cars.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,length,width,height,curb-weight,engine-type,num-of-cylinders,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,num_doors,num_cylinders,engine_size_cc,power_to_weight_ratio,risky_or_safe,is_risky
0,2,164.0,audi,gas,std,four,sedan,Front Wheel Drive,front,99.8,176.6,66.2,54.3,2337,ohc,four,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950.0,4,4,1786,0.043646,risky,1
1,2,164.0,audi,gas,std,four,sedan,Four Wheel Drive,front,99.4,176.6,66.4,54.3,2824,ohc,five,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450.0,4,5,2228,0.040722,risky,1

In [178]:
cars.describe()

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price,num_doors,num_cylinders,engine_size_cc,power_to_weight_ratio,is_risky
count,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000,183.000000
mean,0.737705,124.274446,99.145355,174.287978,65.909836,54.009836,2542.054645,125.196721,10.185355,100.295082,5095.628415,25.666667,31.098361,12709.858834,3.202186,4.349727,2051.038251,0.038940,0.530055
std,1.207599,35.718009,5.979826,12.574952,2.116007,2.328635,518.033610,37.826884,4.078702,33.713080,469.635718,6.338729,6.813138,7438.115517,0.982034,0.843910,619.911154,0.007719,0.500465
min,-2.000000,65.000000,86.600000,141.100000,60.300000,49.400000,1488.000000,61.000000,7.000000,48.000000,4150.000000,14.000000,16.000000,5118.000000,2.000000,3.000000,999.000000,0.019936,0.000000
25%,0.000000,95.000000,94.500000,166.300000,64.000000,52.500000,2128.000000,97.500000,8.500000,70.000000,4800.000000,20.500000,25.000000,7649.000000,2.000000,4.000000,1597.000000,0.034139,0.000000
50%,1.000000,119.000000,97.200000,173.400000,65.500000,54.300000,2405.000000,110.000000,9.000000,94.000000,5200.000000,25.000000,31.000000,9988.000000,4.000000,4.000000,1802.000000,0.037475,1.000000
75%,2.000000,153.000000,102.400000,184.600000,66.900000,55.700000,2964.500000,141.000000,9.400000,116.000000,5500.000000,30.500000,36.500000,16214.000000,4.000000,4.000000,2310.000000,0.043704,1.000000
max,3.000000,256.000000,120.900000,208.100000,72.000000,59.800000,4066.000000,308.000000,23.000000,200.000000,6600.000000,49.000000,54.000000,45400.000000,4.000000,8.000000,5047.000000,0.063715,1.000000

##### Check if any value is NULL?

In [3]:
#List of columns that contain a Null value.
cols = list(cars.columns)
for col in cols:
    if(cars[col].isnull().sum() > 0):
        print(col + " - " + str(cars[col].isnull().sum()))

NameError: name 'cars' is not defined

#### Data Post-Profiling:

In [179]:
import pandas_profiling
profile = pandas_profiling.ProfileReport(cars)
profile.to_file(output_file="Post_Automobile_EDA_Output.html")

#### Create a cleaned and output CSV file for further analysis.

In [180]:
cars.to_csv('data/Automobile_data_cleaned.csv', index=False)